<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}TechLore{% endif %}</a>
    </div>

    <div class="sidebar-tagline">
      {{site.description}}
    </div>

    <menu class="sidebar-menu">
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/">Home</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/about/">About</a></li>
      <li class="menu-items"><a class="menu-links" href="https://docs.google.com/spreadsheets/d/1LtdfV8Wdop13PvYOZrkL4EHEsGVJKxobob7Hc5RXKcQ/edit?usp=sharing">Reading List</a></li>
      <li class="menu-items"><a class="menu-links" href="{{site.baseurl}}/contact/">Contact</a></li>
    </menu>

    <div class="sidebar-social">
      <li class="social-items"><a target="_blank" href="https://www.facebook.com/groups/TechLore/" class="social-links"><i class="social-icons fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-items"><a target="_blank" href="https://github.com/Tech-Lore" class="social-links"><i class="social-icons fa fa-github" aria-hidden="true"></i></a></li>
    </div>

  </div>
</aside>
